@import url('./tailwind');
@import url('./apply');

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  min-height: 100vh;
  font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
}

a {
  color: #0ea5e9;
  transition: color .2s ease .2s;
}
a:hover {
  color: #fb7185;
}

/* Fix waline wl-edit */
#waline #wl-edit {
  box-sizing: border-box !important;
}